body {
    font-size: 90% !important;
    /* margin-left: auto !important;
    margin-right: auto !important; */
    font-family: Arial, Helvetica, sans-serif !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration-line: none;
}

.header-top.navbar,
.footer.container-fluid,
.callback-customer.container-fluid,
.four-steps.container-fluid,
.why-securcap.container-fluid,
.why-trade.container-fluid,
.platforms.container-fluid,
.eight-features.container-fluid,
.quick-features.container-fluid,
.login-field-container.container-fluid,
.new-to-securcap.container-fluid,
.register-field.container-fluid,
.below-header-two-container.container-fluid {
    top: 0;
    left: 0;
    padding: 0 15%;
    width: 100%;
}

.header-below .nav-link {
    color: white !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
    /* padding-right: 15% !important; */
}

.list-unstyled a {
    color: black !important;
}

.social-icons a {
    margin: 0 auto 0 auto;
    padding-left: 1%;
    padding-right: 1%;
    color: #7f7f7f;
}

.social-icons a:hover {
    text-decoration-line: none;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-youtube:hover {
    color: #ff0000;
}

.fa-google-plus:hover {
    color: #dd4b39
}

.fa-linkedin:hover {
    color: #0077b5
}

.callback-button {
    background-color: #ee2722;
    border-color: #ee2722;
    width: 250px;
}

.callback-button:hover {
    background-color: #c01a18;
    border-color: #c01a18;
}

.create-live-acc {
    background-color: #64bd15 !important;
    border-color: #64bd15 !important;
    width: 250px !important;
    height: 55px !important;
    text-transform: uppercase;
    border-radius: 10px !important;
    font-weight: bold !important;
}

.create-live-acc:hover {
    background-color: #63bd15c0 !important;
    border-color: #63bd15c0 !important;
}

.btn-login {
    background-color: #ee2722 !important;
    border-color: #ee2722 !important;
    width: 250px !important;
    height: 55px !important;
    text-transform: uppercase;
    border-radius: 10px !important;
    font-weight: bold !important;
}

.btn-login:hover {
    background-color: #ee2522d7 !important;
    border-color: #ee25229f !important;
}

.create-acc {
    background-color: #64bd15 !important;
    border-color: #64bd15 !important;
    padding: 0 150px 0 150px !important;
    /* width: 500px !important; */
    height: 45px !important;
    text-transform: uppercase;
    border-radius: 10px !important;
    font-weight: bold !important;
}

.create-acc:hover {
    background-color: #63bd15c0 !important;
    border-color: #64bd15c0 !important;
}

.create-demo-acc {
    background-color: #0077d1 !important;
    border-color: #0077d1 !important;
    width: 250px !important;
    height: 55px !important;
    border-radius: 10px !important;
    text-transform: uppercase;
    font-weight: bold !important;
}

.create-demo-acc:hover {
    background-color: #0076d1c0 !important;
    border-color: #0076d1c0 !important;
}

/* .create-live-acc:hover`{
    background-color: #64bd15;
    border-color: #64bd15;
    
} */

.carousel {
    position: relative;
    width: 100%;
    height: 220px;
}

.carousel-item img {
    height: 220px;
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Circle */

.block {
    text-align: center;
    vertical-align: middle;
}

.circle {
    background: #cfcfcf;
    border-radius: 200px;
    color: rgb(0, 0, 0);
    padding: 5px;
    height: 150px;
    width: 150px;
    display: table;
    margin: 15px auto;
}

.circle p {
    vertical-align: middle;
    display: table-cell;
}

.why-trade {
    background: url("../resources/rotating-money-500-euro-bills-money-seamless-loop_vkgloxn7e__F0000.png");
    background-size: cover;
    height: 500px;
    background-color: rgba(243, 243, 243, 0.8);
    background-blend-mode: lighten;
}

.platforms .nav.nav-pills {
    background: black;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}

.platforms .nav-pills .nav-link {
    color: white;
}

.platforms .nav-pills .nav-link.active {
    background-color: #7f7f7f;
    color: #ebebeb;
    border-radius: 0%;
}

.vertical-divider {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    width: auto;
    height: 50%;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);
}

.below-header-two {
    background-image: url("../resources/london_night_2.jpg");
    background-size: cover;
    /* width: 100%; */
    height: 325px;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
}

.login-field {
    background: #052259;
    background-size: cover;
    /* width: 100%; */
    /* height: 350px; */
}

.register-field {
    background: #052259;
    background-size: cover;
    /* width: 100%; */
    /* height: 350px; */
}

.seperator {
    height: 60px;
    width: 1px;
    background: rgb(175, 175, 175);
    margin-bottom: 80% !important;
}

.seperator-2 {
    height: 50px;
    width: 1px;
    background: #dbdada;
    /* margin-bottom: 80% !important; */
}

.blue-bar {
    width: 100%;
    border: 3px solid #052259;
}

#desktop-tab,
#ios-tab,
#mac-tab,
#android-tab {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}